version: "3.9"
name: domesticberries

services:
  gateway:
    image: nginx:latest
    container_name: gateway
    restart: unless-stopped
    volumes:
      - ../src/Services/Gateway/Configuration/nginx.conf:/etc/nginx/nginx.conf
      - ../src/Services/Gateway/Configuration/upstreams:/etc/nginx/upstreams
      - ../src/Services/Gateway/Configuration/webapi:/etc/nginx/webapi
    ports:
      - "80:80"
    networks:
      - domesticberries

  auth-webapi:
    image: ${DOCKER_REGISTRY-}auth-webapi
    container_name: auth-webapi
    build:
      context: ../
      dockerfile: src/Services/Auth/Dberries.Auth.WebAPI/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    networks:
      - domesticberries
  
  warehouse-webapi:
    image: ${DOCKER_REGISTRY-}store-webapi
    container_name: warehouse-webapi
    build:
      context: ../
      dockerfile: src/Services/Warehouse/Dberries.Warehouse.WebAPI/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    networks:
      - domesticberries
      
  store-webapi:
    image: ${DOCKER_REGISTRY-}store-webapi
    container_name: store-webapi
    build:
      context: ../
      dockerfile: src/Services/Store/Dberries.Store.WebAPI/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    networks:
      - domesticberries

networks:
  domesticberries:
    name: domesticberries
    external: true